extends layout

block content
    if text
        h1 This is the text that was passed in the request body: #{text}
        h1 The length of the text is: #{length}
    else
        h1 The string is: #{string}